AZURE_SUBSCRIPTION_ID=YOUR_VALUE_HERE
AZURE_TENANT_ID=YOUR_VALUE_HERE
AZURE_CLIENT_ID=YOUR_CLIENT_ID_HERE
AZURE_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE
AZURE_RESOURCE_GROUP=YOUR_VALUE_HERE
AZURE_KEYVAULT_URL=YOUR_VALUE_HERE
AZURE_STORAGE_ACCOUNT_URL=YOUR_VALUE_HERE
AZURE_COSMOS_ENDPOINT=YOUR_VALUE_HERE
AZURE_SQL_SERVER=YOUR_VALUE_HERE
AZURE_SQL_DATABASE=YOUR_VALUE_HERE
AZURE_SQL_USERNAME=YOUR_VALUE_HERE
AZURE_SQL_PASSWORD=YOUR_VALUE_HERE
APPLICATIONINSIGHTS_CONNECTION_STRING=YOUR_CONNECTION_STRING_HERE
